<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home-Page</title>
</head>
<body>
    <div class="header">
        <div class="header-content">Login Sys </div>
    </div>
    <span class="greeter">Hello, <b> <%= user %> !</b></span>
    
    <!-- <div class="user-input">
        <form action="/loghome" method = "post">
            <input type="text" placeholder="Share your thoughts!" name = 'message' required> 
            <input type="submit" value = "Post!" class = 'submitbtn'>
        </form>
    </div>
   <div class="user-feed">
        
        <% user_message.forEach(function(msg){%>
            <div class="message">
            <div class="message-header">
            <%=user%> says:
            </div>
            <div class="message-content">
                <%= msg.message %>
            <br>
            <% } ) %>
            </div>
        </div>
   </div> -->
    
</body>
</html>