<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="form-container">

        <form action="/login" method="post">
            
            <div class="form-group">
                <h1>Login</h1>
                <div class="response">
                    <h2 class = "<%= type %> "> <%= message %> </h2>
        
                </div>
                <div class="form-members">
                <input type="text" placeholder="Name" name = "name" required>
            </div>
            <div class="form-members">
                <input type="password" placeholder="Password" name = "password" required>
            </div>
            <div class="form-members">
                <input type = "submit" class = "submitbtn" >
            </div>
        </form>
        Don't have an account? <a href="/signup"> Sign Up!</a>
    </div>
</body>
</html>