*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family :"Raleway";
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box
}
body{
    background-color: #E6E2E2;

}

.form-container{
    height: 100vh;
    display: flex;
    font-size: 3.8vw;
    justify-content: center;
    align-items: center;
}

.form-group{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 80px 50px ;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}

.form-members{
    padding: 5px;
    justify-content: center;
}

input{
    border-radius: 5px;
    padding: 10px;
}

h1{
    padding-bottom: 15px;
}

.submitbtn{
    background-color: #000000;
    color: white;
    padding: 10px 35px 10px 35px;
    
}

.response{
    text-align: center;
}

.positive{
    background-color: #CEFFC6;
    border: 5px solid #588B8B;
    border-radius: 20px;
    padding: 12px 10px 12px 10px;
    margin-bottom: 10px;
}

.negative{
    background-color: #FFC7C7;
    border: 5px solid #EC4E20;
    border-radius: 20px;
    padding: 12px 10px 12px 10px;
    margin-bottom: 10px;
}


span{
    content: "\2139"
}

.hero{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.header{
    position: relative;
    width: 100%;
    background-color: #070F2B;
    height: 8.2svh;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    padding-left: 20px;
    font-size: 2em;
}

.greeter{
    position: relative;
    display: flex;
    flex-basis: 0;
    flex-grow: ;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: right;
    padding: 2.3em 1em;
    white-space: pre;
}

.user-input{
    display: flex;
    align-items: center;
    justify-content: center;

}

.user-feed{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.message{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid ;
    border-radius: 10px;
    width: 80%;
    margin: 2em 1em;
    height: 2em
}


.message-header{
    
}
@media screen and (min-width: 767px){
    .form-container{
    font-size: 1.3vw;

    }
    .form-group{
        align-items: center;
        height: 80vh;
        width: 30vw;
    }

    

    input{
        padding: 2vh 5.7vw 2vh 1vw;
    }
}